*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  width: 1100px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  width: 100%;
}
header {
  width: 1052px;
  height: 105px;
  margin: 92px 24px 96px 24px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
}

.menu {
  align-self: center;
}

.menu_ul {
  font-family: Raleway;
  list-style: circle;
  display: flex;
  gap: 31px;
  width: 393.48px;
  height: 17px;
  color: #000;
  margin: 0px 38px 5px 27px;

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.15px;
}
.li_home {
  list-style: none;
}
.logo {
  width: 137px;
}
.border_bottom {
  border-bottom: solid 1px;
}

a {
  text-decoration: none;
}

.contacts {
  font-family: Raleway;
  color: #000;

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px;
  letter-spacing: 0.18px;
}
.header_adress {
  margin: 6px 0px 0px 191px;
}

.cover {
  position: relative;
  height: 757px;
  margin-top: 96.2px;
  background: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
}
.overlay {
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background: #000;
  position: absolute;
}

.cover_title {
  position: relative;
  width: 1000px;
  height: 355px;
  padding: 160px 0px 0px 50px;
}

.aligned_text {
  font-family: Raleway;
  display: block;
  color: #fff;

  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

.aligned_text_left {
  line-height: 127px;
  letter-spacing: 30px;
}

.aligned_text_center {
  margin-left: 286px;
  line-height: 126%;
  letter-spacing: 30px;
}

.aligned_text_right {
  margin: -1px 0px 0px 584px;
  letter-spacing: 29px;
}

.letter_spacing_extended {
  font-family: Raleway;
  color: #fff;

  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 60px;
  text-transform: uppercase;
}

.no_letter_spacing {
  font-family: Raleway;
  color: #fff;

  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}
.cover__description {
  display: flex;
  margin: 313px 0px 0px 78px;
  position: relative;
}
.cover__description-text {
  font-family: Raleway;
  color: #fff;

  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 127.273% */
  text-transform: uppercase;
}
.cover__description-text-b {
  letter-spacing: -1.8px;
}
.bet-button {
  font-family: Raleway;
  margin: -13px 0px 0px 78px;
  width: 256px;
  height: 51px;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;

  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  background-color: transparent;
}
.lots {
  width: 1100px;
  height: 692px;
  margin-top: 180px;
  background: #fff;
}
.lots__heading {
  font-family: Raleway;
  padding-left: 64px;
  color: #000;

  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.lots__card-list {
  display: flex;
  margin: 0px 0px 0px 24px;
}
.lost__cards-list-item {
  list-style-type: none;
}
.card {
  position: relative;
  width: 334px;
  height: 563px;
  margin: 26px 25px 0px 0px;
}
.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}
.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}
.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}
.card__title {
  font-family: Raleway;
  width: 294px;
  position: relative;
  color: #fff;

  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 117%;
  text-decoration-line: underline;
  text-transform: uppercase;
  padding: 52px 0px 0px 40px;
}
.card__text {
  font-family: Raleway;
  width: 296px;
  color: #fff;

  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  padding: 0px 0px 0px 40px;
  position: absolute;
  bottom: 48px;
}
.lots__look-more-link {
  font-family: Raleway;
  color: #000;

  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-bottom: #000 1px solid;
  display: inline-block;
  margin: 30px 0px 0px 64px;
}
.card__text-ellipsis {
  letter-spacing: 2.6px;
}

.about {
  display: grid;
  grid-template-columns: 334px auto;
  grid-template-rows: 563px auto;
  width: 1028px;
  height: 595px;
  margin: 180px 24px 0px 24px;
}
.about_logo {
  margin-left: 47px;
  background-color: #000;
  display: flex;
  width: 240px;
  height: 240px;
  justify-content: center;
  align-items: center;
  border-radius: 150px;
}
.about__logo-image {
  width: 148px;
  height: 114px;
}
.about__title {
  font-family: Raleway;
  color: #000;

  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.about__text {
  font-family: Raleway;
  color: #000;

  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 120% */
}
.about__column-text {
  margin: 101px 0px 0px 25px;
}

.about__text-one {
  width: 688px;
  letter-spacing: 0.2px;
  margin: 100px 0px 24px 0px;
}
.about__text-two {
  width: 693px;
}
.excerpt-of-text-one {
  line-height: 24px;
}
footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 146px 50px 88px 50px;
  width: 1000px;
  height: 121px;
  list-style-type: none;
}
.footer__menu-list {
  font-family: Raleway;
  width: 393.48px;
  text-align: center;
  height: 17px;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.18px;
}
.footer__social-list {
  display: flex;
  justify-content: end;
  gap: 48px;
}
.footer__social-icon {
  height: 48px;
  width: 48px;
}
